<!-- About Section -->
<section id="how">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How we do it?</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 text-right">
        <h3>The approaches we use</h3>
      </div>
      <div class="col-lg-6 text-left">
        <p>
          Our lab investigates the morphogenesis of the epithelium of imaginal discs of fruit fly Drosophila as a model system. The imaginal discs are set aside from the embryonic epidermis during embryonic development. During larval stages, secreted signals called
          morphogens that emanate from localized signaling centers promote proliferation of epithelial cells and specify the cellular identities of the various parts of adult appendages. During post-larval stages the imaginal discs undergo extensive remodeling
          to generate the final shape of adult appendages.
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 text-right">

        <img src="img/how/how1.png" class="img-responsive" />
        <p>Epithelial elongation is a conserved process that alters the proportions of epithelial sheets and tubes. It restructures the early embryo, and tubular epithelia such as the neural tube, the lungs airways, the kidney collecting system, and the
          collecting ducts of secretory organs. The epithelium of the leg imaginal disc narrows and elongates to form a hollow cylinder during post-larval stages. Our lab employs the leg imaginal disc as a model to investigate the molecular and cellular
          basis of tissue elongation and the regulation of the process by extracellular signals.
        </p>
      </div>

      <div class="col-lg-6 text-left">
        <h3>Morphogenesis of the leg imaginal disc is a model for epithelial elongation by cell shape changes and rearrangements of cell-cell contacts.</h3>
      </div>


    </div>


    <div class="row">
      <div class="col-lg-6 text-right">

        <h3>Morphogenesis of the leg imaginal disc is a model for epithelial elongation by cell shape changes and rearrangements of cell-cell contacts.</h3>
      </div>
      <div class="col-lg-6 text-left">
        <img src="img/how/how2.png" class="img-responsive" />
        <p>The fly eye is composed of ~800 ommatidial units. Shown is a single ommatidium at 28 and 40h after puparium formation (APF). Each ommatidial unit is composed of a core of eight photoreceptors (not shown in the image) capped by four cone cells
          and surrounded by two large semi-circular 1° cells. A single file of lattice cells (LCs) surrounds each ommatidial unit. At early stages the LCs are isometric but as development proceeds the 2° LCs narrow and elongate to form the edges of the
          lattice, the 3° LCs compact to form every other corner of the lattice, while sensory bristles cells occupy adjacent corners. During this process superfluous LCs die and delaminate from the epithelium. Our lab employs the eye imaginal disc to
          investigate how mechanical forces generated by cell adhesion and by contractile and protrusive cytoskeletal proteins regulate cell shape changes and cell death, and how extracelluar signals and polarity proteins regulate mechanical force generation
          in space and time.
        </p>
      </div>

    </div>


    <div class="row">

      <div class="col-lg-6 text-right">
        <p>
          Genetic screens carried out by many labs including our own identified many genes affecting leg and eye morphogenesis. These genes fall into several categories that include regulators of the cytoskeleton and cell-cell adhesion, extracellular signals, and
          genes with unknown functions. We investigate the mechanism of function of a subset of these genes, in particular those involved in cell-cell adhesion and protrusive force generation. Our work takes advantage of a range of tools developed over
          the years by the fly community to examine the loss- and gain-of-function phenotypes and the in vivo localization of almost any protein encoded in Drosophila. To complement these capabilities, our lab develops computational image analysis tools
          to segment and track epithelial cell in time-lapse movies obtained by 4D (3D + time) confocal microscopy (Figure 4) and analytics operating on the motion cell centroids and vertices (the geometric points were three or more cells meet) to infer
          the mechanical forces driving tissue remodeling using non-invasive approaches.
        </p>
      </div>

      <div class="col-lg-6 text-left">

      </div>
    </div>


    <div class="row">


      <div class="col-lg-6 text-right">
        <h3>Computational image analysis of epithelial morphogenesis</h3>
      </div>
      <div class="col-lg-6 text-left">
        <img src="img/how/how3.png" class="img-responsive" />
        <p>
          Epithelial morphogenesis involves cell slippage, cell shape changes, cell division and cell death in tissues that consist of hundreds to thousands of cells. The quantitative analyses of these behaviors at a system level require computational tools to
          identify cells and follow their behavior. Our lab develops computational tools to follow cell behavior in time-lapse movies and identify lineage relationships among cells. We recently developed <a href="http://hatinilab.github.io/ttt/">ttt is a tissue tracker</a>, a computational pipeline designed to (A-B)
          segment apical outlines of epithelial cells in 3D, (C-D) track the motion of cell centroids, and detect (E) mitosis and (F) apoptosis.
        </p>
        <p>Check <a href="http://hatinilab.github.io/ttt/">ttt project page</a> for more information<p>
      </div>

    </div>



    <div class="row">
      <div class="col-lg-6 text-right">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-F0AKRNqICA" frameborder="0" allowfullscreen></iframe>
        <p>
          Vertices are geometric points in epithelial tissues where three or more cells meet. Remodeling of epithelial tissues can be described by the displacement, loss or creation of new vertices. From the relative motion of vertices it is feasible to infer the
          forces that deform epithelial tissues during morphogenesis. Inverse cellular vertex models operate on the motion of cell vertices in an epithelial cell network to infer tensions along cell-cell contacts and pressures in the cells, and estimate
          the stress fields acting on tissue domains. To employ these methods to estimate spatiotemporal patterns of mechanical parameters driving epithelial tissue remodeling, we embarked on a new effort to directly track the motion of cell vertices.
        </p>
      </div>

      <div class="col-lg-6 text-left">
        <h3>Analysis of tissue mechanics using non-invasive approaches</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <em>
  The processes and mechanisms that regulate epithelial morphogenesis are evolutionarily conserved and therefore insights gained from our studies on imaginal disc morphogenesis have the power to explain parallel processes in human development. Our lab develops general computational tools to investigate epithelial morphogenesis at the molecular, cellular and tissue levels simultaneously to determine how dynamic at each level integrate and how dynamics in one level affect dynamic at higher or lower levels (e.g how molecular dynamics affects cellular dynamics and vise versa).
  </em>
      </div>
    </div>





  </div>
  </div>
</section>
