<!-- About Section -->
    <section id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How we do it?</h2>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
                </div>
            </div>
            <div class="row">
              <p>

              The approaches we use: Our lab investigates the morphogenesis of the epithelium of imaginal discs of fruit fly Drosophila as a model system.  The imaginal discs are set aside from the embryonic epidermis during embryonic development. During larval stages, secreted signals called morphogens that emanate from localized signaling centers promote proliferation of epithelial cells and specify the cellular identities of the various parts of adult appendages. During post-larval stages the imaginal discs undergo extensive remodeling to generate the final shape of adult appendages.
              </p>
                <p>
Our lab investigates the mechanisms that regulate the narrowing and elongation of the leg imaginal disc from a flattened disc to a hollow tube, and the cell shape changes of pigment cells that narrow and elongate to form the edges of the regular hexagonal lattice of the fly retina.
</p>
  <p>
Genetic screens carried out by many labs including our own identified many genes affecting leg and eye morphogenesis. These genes fall into several categories that include regulators of the cytoskeleton and cell-cell adhesion, extracellular signals, and genes with unknown function.
</p>
  <p>
We use genetically encoded fluorescent reporters and genetic analysis to investigate the mechanism of function of a subset of these genes. Our work takes advantage of a range of tools developed over the years by the fly community to examine the loss- and gain-of-function phenotypes and the in vivo localization of almost any protein encoded in Drosophila. To complement these capabilities, our lab develops computational image analysis tools to investigate the relative motion, deformation and lineage relationship among epithelial cell in time-lapse movies obtained using 4D (3D + time) confocal microscopy.
</p>
              </div>

            </div>
        </div>
    </section>
