<!-- Services Section -->
    <section id="members">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lab Members</h2>
                    <h3 class="section-subheading text-muted">Current members of the lab</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <!--span class="fa-stack fa-4x">

                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span-->
                    <img src="img/members/vhatini.jpg" class="img-circle" height=200px>
                    <h4 class="service-heading">Victor Hatini</h4>
                    <p class="text-muted">Principal Investigator</p>
                </div>
                <div class="col-md-6">
                  <img src="img/members/rcilla.jpg" class="img-circle" height=200px>
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span-->
                    <h4 class="service-heading">Rodrigo Cilla</h4>
                    <p class="text-muted">Postdoctoral Researcher</p>
                </div>
            </div>
            <div class="row text-center">

            <h3 class="section-subheading text-muted">Past members</h3>
          </div>
          <div class="row text-center">
            <h5>Graduate students</h5>
            <li>Dr. David Nusinow (CMDB, Ph.D. 2004-2009)</li>
            <li>Dr. Lina Greenberg (CMDB, Ph.D. 2005-2010)</li>
            <li>Dr. Steven Del Signore (CMDB, 2008-2014)</li>
            <li>Melissa LaBonty (CMDB, PhD Candidate, 2013-2014)</li>
            <h5>Post-doctoral fellows</h5>
            <li>Dr. Ela Kula-Eversole (post-doctoral fellow 2007-2008)</li>
            <li>Dr. Beatriz Hernandez de-Madrid (2011-2013)</li>
            <li>Dr. Steven Del Signore (2014-2015)</li>
            <h5>Undergraduate students</h5>
            <li>Julial Carlson (Tufts University, 2009-2010)</li>
            <li>Viral Patel (Northeastern University, 2011)</li>
            <li>Michel Apoj (Tufts University, 2012-2013)</li>
            <li>Thomas Frost Cunningham (Tufts University, 2013-2014)</li>
            <li>Alexis Galantino (Tufts University, 2015)</li>
            <li>Peter Niimi (Umass Boston, 2015)</li>
          </div>
            <div class="row text-center">

            <h3 class="section-subheading text-muted">Collaborators</h3>
          </div>
          <div class="row text-center">
            <li><a href="http://www.ece.tufts.edu/~elmiller/elmhome/">Dr. Eric Miller</a> Tufts University, Department of Electrical and Computer Engineering</li>
            <li><a href="http://sites.tufts.edu/btracey/">Dr. Brian Tracey</a> Tufts University, Department of Electrical and Computer Engineering</li>
            <li><a href="http://treismanlab.med.nyu.edu/">Dr. Jessica Treisman</a> NYU School of Medicine, Skirball Institute of Biomolecular Medicine</li>
          </div>


        </div>
    </section>
